.calculator {
  width: 220px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(3, 117, 204, 0.1);
  transition: transform 0.3s;
  background-color: rgb(252, 252, 252);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  transition: background-color 0.3s;
}

button {
  width: 95%;
  cursor: pointer;
  transition: background-color 1s;
}

.buttons_bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button:hover {
  box-shadow: 0 0 15px rgba(75, 75, 76, 0.5);
}

.result {
  position: relative;
  border: 1px solid #ccc;
  margin-top: 10px;
  height: 33px;
  border-color: rgb(207, 209, 211);
  padding: 5px;
  border-radius: 8px;

}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 5px;
  font-size: 20px;
}
